In [1]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# clone code repository
!git clone https://github.com/project-delphi/spider-schema-gnn-global.git
#!git clone https://github.com/benbogin/spider-schema-gnn-global.git
#!pip install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp37-cp37m-linux_x86_64.whl # CUDA 10.0 build

Cloning into 'spider-schema-gnn-global'...
remote: Enumerating objects: 130, done.
remote: Counting objects: 100% (130/130), done.
remote: Compressing objects: 100% (77/77), done.
remote: Total 130 (delta 51), reused 117 (delta 44), pack-reused 0
Receiving objects: 100% (130/130), 79.55 KiB | 445.00 KiB/s, done.
Resolving deltas: 100% (51/51), done.

In [3]:
!pip install --upgrade torch-scatter
!pip install --upgrade torch-sparse
!pip install --upgrade torch-cluster
!pip install --upgrade torch-spline-conv 
!pip install torch-geometric

Collecting torch-scatter
  Downloading https://files.pythonhosted.org/packages/b8/c3/8bad887ffa55c86f120ef5ae252dc0e357b3bd956d9fbf45242bacc46290/torch_scatter-1.4.0.tar.gz
Building wheels for collected packages: torch-scatter
  Building wheel for torch-scatter (setup.py) ... done
  Created wheel for torch-scatter: filename=torch_scatter-1.4.0-cp36-cp36m-linux_x86_64.whl size=2875369 sha256=3786fe33f062590dbc12d7b137346b83b65209e6ecc8bd9794cc514ac6d9cafc
  Stored in directory: /root/.cache/pip/wheels/25/00/c4/1637b4b3003f29092f4fe2ad4b40dd10906269c1ac2dc82941
Successfully built torch-scatter
Installing collected packages: torch-scatter
Successfully installed torch-scatter-1.4.0
Collecting torch-sparse
  Downloading https://files.pythonhosted.org/packages/08/4e/a268613fa6a92ffbc65b89e66fc8be5590801937185007f0f7bcb75ea21f/torch_sparse-0.4.3.tar.gz
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from torch-sparse) (1.3.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy->torch-sparse) (1.17.4)
Building wheels for collected packages: torch-sparse
  Building wheel for torch-sparse (setup.py) ... done
  Created wheel for torch-sparse: filename=torch_sparse-0.4.3-cp36-cp36m-linux_x86_64.whl size=3966434 sha256=5592918876516cc241bd9a950a6923d18ebc690d068a4d657a27c96ef06af661
  Stored in directory: /root/.cache/pip/wheels/02/66/2b/befece01c2516f9fb3e7b4d150bb2b871221c73657c9cd7735
Successfully built torch-sparse
Installing collected packages: torch-sparse
Successfully installed torch-sparse-0.4.3
Collecting torch-cluster
  Downloading https://files.pythonhosted.org/packages/c3/70/1d827d6fd1e03bb5ae84852dd0070c6574105c37e7b935284f6e990932db/torch_cluster-1.4.5.tar.gz
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from torch-cluster) (1.3.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy->torch-cluster) (1.17.4)
Building wheels for collected packages: torch-cluster
  Building wheel for torch-cluster (setup.py) ... done
  Created wheel for torch-cluster: filename=torch_cluster-1.4.5-cp36-cp36m-linux_x86_64.whl size=16219409 sha256=9e01dae5cc22555a586133a72e71017c2beb787df6343c4d91d3b0b374eda372
  Stored in directory: /root/.cache/pip/wheels/0a/26/7e/a6d6a80eae5ca39b92bc77773f36cf433d5085de18014382b1
Successfully built torch-cluster
Installing collected packages: torch-cluster
Successfully installed torch-cluster-1.4.5
Collecting torch-spline-conv
  Downloading https://files.pythonhosted.org/packages/5e/77/5420584cdb1514c580722ca4bc482a509105d64b7c70246e9dc4a3e6d3c5/torch_spline_conv-1.1.1.tar.gz
Building wheels for collected packages: torch-spline-conv
  Building wheel for torch-spline-conv (setup.py) ... done
  Created wheel for torch-spline-conv: filename=torch_spline_conv-1.1.1-cp36-cp36m-linux_x86_64.whl size=5428243 sha256=4aff34cd593771620b94e7cae60d65aabaf3b60e94bffee077f95b2c99cfa34a
  Stored in directory: /root/.cache/pip/wheels/63/cf/c7/3439a98ba262c5d99b91a9c11aaeced67f583febab5a4b1566
Successfully built torch-spline-conv
Installing collected packages: torch-spline-conv
Successfully installed torch-spline-conv-1.1.1
Collecting torch-geometric
  Downloading https://files.pythonhosted.org/packages/f3/50/0a802f0bfa68058bf025d219ec6fbe806a5b891bba6702e28be7b83679fb/torch_geometric-1.3.2.tar.gz (126kB)
     |████████████████████████████████| 133kB 2.8MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (1.3.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (2.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (0.21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (2.21.0)
Collecting plyfile
  Downloading https://files.pythonhosted.org/packages/4c/15/434d1d96f9a41fea56cb3290718123d651c56c4b7e53f0249acaf1bf34b6/plyfile-0.7.1.tar.gz
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (0.25.3)
Collecting rdflib
  Downloading https://files.pythonhosted.org/packages/3c/fe/630bacb652680f6d481b9febbb3e2c3869194a1a5fc3401a4a41195a2f8f/rdflib-4.2.2-py3-none-any.whl (344kB)
     |████████████████████████████████| 348kB 38.5MB/s
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (2.8.0)
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.6/dist-packages (from torch-geometric) (0.4)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->torch-geometric) (4.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->torch-geometric) (0.14.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->torch-geometric) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->torch-geometric) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->torch-geometric) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->torch-geometric) (2019.9.11)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->torch-geometric) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->torch-geometric) (2018.9)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib->torch-geometric) (2.4.5)
Collecting isodate
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 6.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from h5py->torch-geometric) (1.12.0)
Building wheels for collected packages: torch-geometric, plyfile
  Building wheel for torch-geometric (setup.py) ... done
  Created wheel for torch-geometric: filename=torch_geometric-1.3.2-cp36-none-any.whl size=203339 sha256=1947fd73d2244d91a7e44f90741b25b73869f50694e834b25ee2a8603ff70fc4
  Stored in directory: /root/.cache/pip/wheels/f7/75/0a/56a0fd58efac6d990782523e20e61c9307fc42c31564d40348
  Building wheel for plyfile (setup.py) ... done
  Created wheel for plyfile: filename=plyfile-0.7.1-cp36-none-any.whl size=32827 sha256=4a678f18b6b131d5e14ccdc4fdb5614293068deeb20dd27698345f2e82e0900b
  Stored in directory: /root/.cache/pip/wheels/d6/0d/bf/6d603d81b98604d2ecfd5e99d4ab7c9af664fd5285ab82bbb0
Successfully built torch-geometric plyfile
Installing collected packages: plyfile, isodate, rdflib, torch-geometric
Successfully installed isodate-0.6.0 plyfile-0.7.1 rdflib-4.2.2 torch-geometric-1.3.2

In [4]:
# python model dependencies
%cd spider-schema-gnn-global/
!pip install -r requirements.txt
!python -c "import nltk; nltk.download('punkt')"

/content/spider-schema-gnn-global
Collecting https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz (from -r requirements.txt (line 10))
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz (37.4MB)
     |████████████████████████████████| 37.4MB 161kB/s
Requirement already satisfied: torch==1.3.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 1)) (1.3.1+cu100)
Collecting spacy==2.0.18
  Downloading https://files.pythonhosted.org/packages/ae/6e/a89da6b5c83f8811e46e3a9270c1aed90e9b9ee6c60faf52b7239e5d3d69/spacy-2.0.18-cp36-cp36m-manylinux1_x86_64.whl (25.2MB)
     |████████████████████████████████| 25.2MB 56.5MB/s
Collecting allennlp==0.8.2
  Downloading https://files.pythonhosted.org/packages/64/32/d6d0a93a23763f366df2dbd4e007e45ce4d2ad97e6315506db9da8af7731/allennlp-0.8.2-py3-none-any.whl (5.6MB)
     |████████████████████████████████| 5.6MB 32.3MB/s
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 4)) (0.3.1.1)
Requirement already satisfied: torch-scatter in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 5)) (1.4.0)
Requirement already satisfied: torch-sparse in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 6)) (0.4.3)
Requirement already satisfied: torch-cluster in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 7)) (1.4.5)
Requirement already satisfied: torch-geometric in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 8)) (1.3.2)
Collecting ordered_set
  Downloading https://files.pythonhosted.org/packages/a3/b7/d4d69641cbe707a45c23b190f2d717466ba5accc4c70b5f7a8a450387895/ordered-set-3.1.1.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torch==1.3.1->-r requirements.txt (line 1)) (1.17.4)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy==2.0.18->-r requirements.txt (line 2)) (0.9.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy==2.0.18->-r requirements.txt (line 2)) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy==2.0.18->-r requirements.txt (line 2)) (2.0.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy==2.0.18->-r requirements.txt (line 2)) (2.21.0)
Collecting thinc<6.13.0,>=6.12.1
  Downloading https://files.pythonhosted.org/packages/db/a7/46640a46fd707aeb204aa4257a70974b6a22a0204ba703164d803215776f/thinc-6.12.1-cp36-cp36m-manylinux1_x86_64.whl (1.9MB)
     |████████████████████████████████| 1.9MB 30.2MB/s
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from spacy==2.0.18->-r requirements.txt (line 2)) (2.0.1)
Collecting regex==2018.01.10
  Downloading https://files.pythonhosted.org/packages/76/f4/7146c3812f96fcaaf2d06ff6862582302626a59011ccb6f2833bb38d80f7/regex-2018.01.10.tar.gz (612kB)
     |████████████████████████████████| 614kB 44.1MB/s
Collecting ujson>=1.35
  Downloading https://files.pythonhosted.org/packages/16/c4/79f3409bc710559015464e5f49b9879430d8f87498ecdc335899732e5377/ujson-1.35.tar.gz (192kB)
     |████████████████████████████████| 194kB 41.1MB/s
Collecting jsonnet==0.10.0; sys_platform != "win32"
  Downloading https://files.pythonhosted.org/packages/3c/83/d49904ee98dd4fbba6a003938e30e76251951c4bdb49628b4f92e5009a42/jsonnet-0.10.0.tar.gz (124kB)
     |████████████████████████████████| 133kB 43.2MB/s
Collecting pytz==2017.3
  Downloading https://files.pythonhosted.org/packages/a3/7f/e7d1acbd433b929168a4fb4182a2ff3c33653717195a26c1de099ad1ef29/pytz-2017.3-py2.py3-none-any.whl (511kB)
     |████████████████████████████████| 512kB 39.7MB/s
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (3.6.4)
Collecting responses>=0.7
  Downloading https://files.pythonhosted.org/packages/d1/5a/b887e89925f1de7890ef298a74438371ed4ed29b33def9e6d02dc6036fd8/responses-0.10.6-py2.py3-none-any.whl
Collecting sqlparse==0.2.4
  Downloading https://files.pythonhosted.org/packages/65/85/20bdd72f4537cf2c4d5d005368d502b2f464ede22982e724a82c86268eda/sqlparse-0.2.4-py2.py3-none-any.whl
Collecting overrides
  Downloading https://files.pythonhosted.org/packages/8b/a0/0d4a9dcd28de9bf263e9436b5876ba199cc4e4a19d0dc4e85eed657b1b77/overrides-2.5.tar.gz
Collecting pytorch-pretrained-bert>=0.6.0
  Downloading https://files.pythonhosted.org/packages/d7/e0/c08d5553b89973d9a240605b9c12404bcf8227590de62bae27acbcfe076b/pytorch_pretrained_bert-0.6.2-py3-none-any.whl (123kB)
     |████████████████████████████████| 133kB 35.1MB/s
Collecting flask==1.0.2
  Downloading https://files.pythonhosted.org/packages/7f/e7/08578774ed4536d3242b14dacb4696386634607af824ea997202cd0edb4b/Flask-1.0.2-py2.py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 11.8MB/s
Collecting gevent==1.3.6
  Downloading https://files.pythonhosted.org/packages/43/3d/a19fece28ba1b5133cf74bd22a229d77b4d9cc4b24aa8f263cca2845c555/gevent-1.3.6-cp36-cp36m-manylinux1_x86_64.whl (4.5MB)
     |████████████████████████████████| 4.5MB 39.1MB/s
Collecting moto==1.3.4
  Downloading https://files.pythonhosted.org/packages/ee/8f/7b36e81ff067d0e7bf90f7210b351c0cfe6657f79fa4dcb0cb4787462e05/moto-1.3.4-py2.py3-none-any.whl (548kB)
     |████████████████████████████████| 552kB 30.9MB/s
Collecting awscli>=1.11.91
  Downloading https://files.pythonhosted.org/packages/c6/ea/a0bb093745283277a3437eb4fae4f3ddfaabd985da1ef51fdb758240ed31/awscli-1.16.281-py2.py3-none-any.whl (2.5MB)
     |████████████████████████████████| 2.5MB 31.4MB/s
Collecting conllu==0.11
  Downloading https://files.pythonhosted.org/packages/d4/2c/856344d9b69baf5b374c395b4286626181a80f0c2b2f704914d18a1cea47/conllu-0.11-py2.py3-none-any.whl
Collecting numpydoc==0.8.0
  Downloading https://files.pythonhosted.org/packages/95/a8/b4706a6270f0475541c5c1ee3373c7a3b793936ec1f517f1a1dab4f896c0/numpydoc-0.8.0.tar.gz
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (3.2.5)
Requirement already satisfied: editdistance in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (0.5.3)
Collecting matplotlib==2.2.3
  Downloading https://files.pythonhosted.org/packages/9e/59/f235ab21bbe7b7c6570c4abf17ffb893071f4fa3b9cf557b09b60359ad9a/matplotlib-2.2.3-cp36-cp36m-manylinux1_x86_64.whl (12.6MB)
     |████████████████████████████████| 12.6MB 29.1MB/s
Requirement already satisfied: msgpack<0.6.0,>=0.5.6 in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (0.5.6)
Requirement already satisfied: tqdm>=4.19 in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (4.28.1)
Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 47.5MB/s
Collecting parsimonious==0.8.0
  Downloading https://files.pythonhosted.org/packages/4a/89/32c55944cd30dff856f16859ee325b13c83c260d0c56c0eed511e8063c87/parsimonious-0.8.0.tar.gz
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (1.10.14)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (1.3.2)
Collecting flaky
  Downloading https://files.pythonhosted.org/packages/fe/12/0f169abf1aa07c7edef4855cca53703d2e6b7ecbded7829588ac7e7e3424/flaky-3.6.1-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (0.21.3)
Collecting tensorboardX==1.2
  Downloading https://files.pythonhosted.org/packages/c5/22/43f4f0318f7c68a1000dbb700a353b745584bc2397437832d15ba69ea5f1/tensorboardX-1.2-py2.py3-none-any.whl (44kB)
     |████████████████████████████████| 51kB 6.8MB/s
Collecting flask-cors==3.0.7
  Downloading https://files.pythonhosted.org/packages/65/cb/683f71ff8daa3aea0a5cbb276074de39f9ab66d3fbb8ad5efb5bb83e90d2/Flask_Cors-3.0.7-py2.py3-none-any.whl
Collecting ftfy
  Downloading https://files.pythonhosted.org/packages/75/ca/2d9a5030eaf1bcd925dab392762b9709a7ad4bd486a90599d93cd79cb188/ftfy-5.6.tar.gz (58kB)
     |████████████████████████████████| 61kB 8.9MB/s
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from allennlp==0.8.2->-r requirements.txt (line 3)) (2.8.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from torch-geometric->-r requirements.txt (line 8)) (2.4)
Requirement already satisfied: plyfile in /usr/local/lib/python3.6/dist-packages (from torch-geometric->-r requirements.txt (line 8)) (0.7.1)
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.6/dist-packages (from torch-geometric->-r requirements.txt (line 8)) (0.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from torch-geometric->-r requirements.txt (line 8)) (0.25.3)
Requirement already satisfied: rdflib in /usr/local/lib/python3.6/dist-packages (from torch-geometric->-r requirements.txt (line 8)) (4.2.2)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.0.18->-r requirements.txt (line 2)) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.0.18->-r requirements.txt (line 2)) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.0.18->-r requirements.txt (line 2)) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.0.18->-r requirements.txt (line 2)) (2.8)
Collecting cytoolz<0.10,>=0.9.0
  Downloading https://files.pythonhosted.org/packages/36/f4/9728ba01ccb2f55df9a5af029b48ba0aaca1081bbd7823ea2ee223ba7a42/cytoolz-0.9.0.1.tar.gz (443kB)
     |████████████████████████████████| 450kB 40.2MB/s
Requirement already satisfied: six<2.0.0,>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from thinc<6.13.0,>=6.12.1->spacy==2.0.18->-r requirements.txt (line 2)) (1.12.0)
Collecting wrapt<1.11.0,>=1.10.0
  Downloading https://files.pythonhosted.org/packages/a0/47/66897906448185fcb77fc3c2b1bc20ed0ecca81a0f2f88eda3fc5a34fc3d/wrapt-1.10.11.tar.gz
Collecting msgpack-numpy<0.4.4
  Downloading https://files.pythonhosted.org/packages/ad/45/464be6da85b5ca893cfcbd5de3b31a6710f636ccb8521b17bd4110a08d94/msgpack_numpy-0.4.3.2-py2.py3-none-any.whl
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->allennlp==0.8.2->-r requirements.txt (line 3)) (1.3.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->allennlp==0.8.2->-r requirements.txt (line 3)) (19.3.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->allennlp==0.8.2->-r requirements.txt (line 3)) (0.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->allennlp==0.8.2->-r requirements.txt (line 3)) (41.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->allennlp==0.8.2->-r requirements.txt (line 3)) (7.2.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->allennlp==0.8.2->-r requirements.txt (line 3)) (1.8.0)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from flask==1.0.2->allennlp==0.8.2->-r requirements.txt (line 3)) (7.0)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from flask==1.0.2->allennlp==0.8.2->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: Werkzeug>=0.14 in /usr/local/lib/python3.6/dist-packages (from flask==1.0.2->allennlp==0.8.2->-r requirements.txt (line 3)) (0.16.0)
Requirement already satisfied: Jinja2>=2.10 in /usr/local/lib/python3.6/dist-packages (from flask==1.0.2->allennlp==0.8.2->-r requirements.txt (line 3)) (2.10.3)
Requirement already satisfied: greenlet>=0.4.14; platform_python_implementation == "CPython" in /usr/local/lib/python3.6/dist-packages (from gevent==1.3.6->allennlp==0.8.2->-r requirements.txt (line 3)) (0.4.15)
Collecting cookies
  Downloading https://files.pythonhosted.org/packages/6a/60/557f84aa2db629e5124aa05408b975b1b5d0e1cec16cde0bfa06aae097d3/cookies-2.2.1-py2.py3-none-any.whl (44kB)
     |████████████████████████████████| 51kB 7.6MB/s
Collecting jsondiff==1.1.1
  Downloading https://files.pythonhosted.org/packages/bd/5f/13e28a2f9abeda2ffb3f44f2f809b01b52bc02cdb63816e05b8c9cbbdfc5/jsondiff-1.1.1.tar.gz
Collecting mock
  Downloading https://files.pythonhosted.org/packages/05/d2/f94e68be6b17f46d2c353564da56e6fb89ef09faeeff3313a046cb810ca9/mock-3.0.5-py2.py3-none-any.whl
Collecting aws-xray-sdk<0.96,>=0.93
  Downloading https://files.pythonhosted.org/packages/a4/a5/da7887285564f9e0ae5cd25a453cca36e2cd43d8ccc9effde260b4d80904/aws_xray_sdk-0.95-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 8.4MB/s
Collecting python-jose<3.0.0
  Downloading https://files.pythonhosted.org/packages/bf/5c/5fa238c0c5b0656994b52721dd8b1d7bf52ebd8786518dde794f44de86b6/python_jose-2.0.2-py2.py3-none-any.whl
Collecting pyaml
  Downloading https://files.pythonhosted.org/packages/33/1a/936074f3492156693fc9e471269fc5747fa3b7d9d7f8a33af054f6b24066/pyaml-19.4.1-py2.py3-none-any.whl
Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Collecting docker>=2.5.1
  Downloading https://files.pythonhosted.org/packages/cc/ca/699d4754a932787ef353a157ada74efd1ceb6d1fc0bfb7989ae1e7b33111/docker-4.1.0-py2.py3-none-any.whl (139kB)
     |████████████████████████████████| 143kB 45.0MB/s
Requirement already satisfied: boto>=2.36.0 in /usr/local/lib/python3.6/dist-packages (from moto==1.3.4->allennlp==0.8.2->-r requirements.txt (line 3)) (2.49.0)
Requirement already satisfied: botocore>=1.9.16 in /usr/local/lib/python3.6/dist-packages (from moto==1.3.4->allennlp==0.8.2->-r requirements.txt (line 3)) (1.13.14)
Collecting cryptography>=2.0.0
  Downloading https://files.pythonhosted.org/packages/ca/9a/7cece52c46546e214e10811b36b2da52ce1ea7fa203203a629b8dfadad53/cryptography-2.8-cp34-abi3-manylinux2010_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 30.1MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from moto==1.3.4->allennlp==0.8.2->-r requirements.txt (line 3)) (2.6.1)
Collecting rsa<=3.5.0,>=3.1.2
  Downloading https://files.pythonhosted.org/packages/e1/ae/baedc9cb175552e95f3395c43055a6a5e125ae4d48a1d7a924baca83e92e/rsa-3.4.2-py2.py3-none-any.whl (46kB)
     |████████████████████████████████| 51kB 7.5MB/s
Collecting colorama<0.4.2,>=0.2.5; python_version != "2.6" and python_version != "3.3"
  Downloading https://files.pythonhosted.org/packages/4f/a6/728666f39bfff1719fc94c481890b2106837da9318031f71a8424b662e12/colorama-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.91->allennlp==0.8.2->-r requirements.txt (line 3)) (0.2.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.91->allennlp==0.8.2->-r requirements.txt (line 3)) (0.15.2)
Requirement already satisfied: PyYAML<5.2,>=3.10; python_version != "2.6" and python_version != "3.3" in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.91->allennlp==0.8.2->-r requirements.txt (line 3)) (3.13)
Requirement already satisfied: sphinx>=1.2.3 in /usr/local/lib/python3.6/dist-packages (from numpydoc==0.8.0->allennlp==0.8.2->-r requirements.txt (line 3)) (1.8.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.2.3->allennlp==0.8.2->-r requirements.txt (line 3)) (2.4.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.2.3->allennlp==0.8.2->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.2.3->allennlp==0.8.2->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->allennlp==0.8.2->-r requirements.txt (line 3)) (0.9.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->allennlp==0.8.2->-r requirements.txt (line 3)) (0.14.0)
Requirement already satisfied: protobuf>=0.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorboardX==1.2->allennlp==0.8.2->-r requirements.txt (line 3)) (3.10.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from ftfy->allennlp==0.8.2->-r requirements.txt (line 3)) (0.1.7)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->torch-geometric->-r requirements.txt (line 8)) (4.4.1)
Requirement already satisfied: isodate in /usr/local/lib/python3.6/dist-packages (from rdflib->torch-geometric->-r requirements.txt (line 8)) (0.6.0)
Requirement already satisfied: toolz>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from cytoolz<0.10,>=0.9.0->thinc<6.13.0,>=6.12.1->spacy==2.0.18->-r requirements.txt (line 2)) (0.10.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10->flask==1.0.2->allennlp==0.8.2->-r requirements.txt (line 3)) (1.1.1)
Collecting jsonpickle
  Downloading https://files.pythonhosted.org/packages/07/07/c157520a3ebd166c8c24c6ae0ecae7c3968eb4653ff0e5af369bb82f004d/jsonpickle-1.2-py2.py3-none-any.whl
Collecting pycryptodome<4.0.0,>=3.3.1
  Downloading https://files.pythonhosted.org/packages/b0/0a/e93acfba924e4794387c4188898862074e12cd05868694f1376da13c7dde/pycryptodome-3.9.3-cp36-cp36m-manylinux1_x86_64.whl (9.7MB)
     |████████████████████████████████| 9.7MB 27.7MB/s
Requirement already satisfied: future<1.0 in /usr/local/lib/python3.6/dist-packages (from python-jose<3.0.0->moto==1.3.4->allennlp==0.8.2->-r requirements.txt (line 3)) (0.16.0)
Collecting ecdsa<1.0
  Downloading https://files.pythonhosted.org/packages/a2/25/3bb32da623b39a27a07d194cd58e4540224421d924661de2e694304ae4fa/ecdsa-0.14.1-py2.py3-none-any.whl (79kB)
     |████████████████████████████████| 81kB 11.1MB/s
Collecting websocket-client>=0.32.0
  Downloading https://files.pythonhosted.org/packages/29/19/44753eab1fdb50770ac69605527e8859468f3c0fd7dc5a76dd9c4dbd7906/websocket_client-0.56.0-py2.py3-none-any.whl (200kB)
     |████████████████████████████████| 204kB 45.7MB/s
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.0.0->moto==1.3.4->allennlp==0.8.2->-r requirements.txt (line 3)) (1.13.2)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<=3.5.0,>=3.1.2->awscli>=1.11.91->allennlp==0.8.2->-r requirements.txt (line 3)) (0.4.7)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [5]:
# mount resources
# spider dataset
!mkdir /content/spider-schema-gnn-global/dataset
!cp -r /content/drive/My\ Drive/models/nlp/spider/* /content/spider-schema-gnn-global/dataset
# pretrained model
!mkdir -p /content/spider-schema-gnn-global/experiments
!tar xvzf /content/drive/My\ Drive/models/nlp/allen-gnn/gnn_global_models.tar.gz -C /content/spider-schema-gnn-global/experiments

experiment/
experiment/config.json
experiment/best.th
experiment/vocabulary/
experiment/vocabulary/tokens.txt
experiment/vocabulary/rule_labels.txt
experiment/vocabulary/non_padded_namespaces.txt
experiment/candidates_dev.json
experiment/candidates_train.json
experiment_rerank/
experiment_rerank/config.json
experiment_rerank/best.th
experiment_rerank/vocabulary/
experiment_rerank/vocabulary/tokens.txt
experiment_rerank/vocabulary/non_padded_namespaces.txt

In [6]:
!allennlp predict experiments/experiment dataset/dev.json \
--predictor spider_predict_complete \
--use-dataset-reader \
--cuda-device=0 \
--output-file output.sql \
--silent \
--include-package models.semantic_parsing.spider_parser \
--include-package dataset_readers.spider \
--include-package predictors.spider_predictor_complete \
--weights-file experiments/experiment/best.th \
-o "{\"dataset_reader\":{\"keep_if_unparsable\":true}}"

2019-11-14 04:03:30,781 - INFO - pytorch_pretrained_bert.modeling - Better speed can be achieved with apex installed from https://www.github.com/nvidia/apex .
/usr/local/lib/python3.6/dist-packages/sklearn/utils/linear_assignment_.py:21: DeprecationWarning: The linear_assignment_ module is deprecated in 0.21 and will be removed from 0.23. Use scipy.optimize.linear_sum_assignment instead.
  DeprecationWarning)
2019-11-14 04:03:32,819 - INFO - allennlp.models.archival - loading archive file experiments/experiment
2019-11-14 04:03:32,843 - INFO - allennlp.common.params - type = default
2019-11-14 04:03:32,844 - INFO - allennlp.data.vocabulary - Loading token dictionary from experiments/experiment/vocabulary.
2019-11-14 04:03:32,848 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.models.model.Model'> from params {'action_embedding_dim': 200, 'dataset_path': 'dataset/', 'decoder_beam_search': {'beam_size': 10}, 'decoder_self_attend': True, 'decoder_use_graph_entities': True, 'dropout': 0.5, 'encoder': {'bidirectional': True, 'hidden_size': 400, 'input_size': 400, 'num_layers': 1, 'type': 'lstm'}, 'entity_encoder': {'averaged': True, 'embedding_dim': 200, 'type': 'boe'}, 'gnn': True, 'gnn_timesteps': 3, 'input_attention': {'type': 'dot_product'}, 'max_decoding_steps': 100, 'parse_sql_on_decoding': True, 'past_attention': {'type': 'dot_product'}, 'pruning_gnn_timesteps': 3, 'question_embedder': {'tokens': {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'}}, 'training_beam_size': 1, 'type': 'spider', 'use_neighbor_similarity_for_linking': True} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,848 - INFO - allennlp.common.params - model.type = spider
2019-11-14 04:03:32,848 - INFO - allennlp.common.from_params - instantiating class <class 'models.semantic_parsing.spider_parser.SpiderParser'> from params {'action_embedding_dim': 200, 'dataset_path': 'dataset/', 'decoder_beam_search': {'beam_size': 10}, 'decoder_self_attend': True, 'decoder_use_graph_entities': True, 'dropout': 0.5, 'encoder': {'bidirectional': True, 'hidden_size': 400, 'input_size': 400, 'num_layers': 1, 'type': 'lstm'}, 'entity_encoder': {'averaged': True, 'embedding_dim': 200, 'type': 'boe'}, 'gnn': True, 'gnn_timesteps': 3, 'input_attention': {'type': 'dot_product'}, 'max_decoding_steps': 100, 'parse_sql_on_decoding': True, 'past_attention': {'type': 'dot_product'}, 'pruning_gnn_timesteps': 3, 'question_embedder': {'tokens': {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'}}, 'training_beam_size': 1, 'use_neighbor_similarity_for_linking': True} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,849 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.seq2seq_encoders.seq2seq_encoder.Seq2SeqEncoder'> from params {'bidirectional': True, 'hidden_size': 400, 'input_size': 400, 'num_layers': 1, 'type': 'lstm'} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.type = lstm
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.batch_first = True
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.stateful = False
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - Converting Params object to dict; logging of default values will not occur when dictionary parameters are used subsequently.
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - CURRENTLY DEFINED PARAMETERS:
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.bidirectional = True
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.hidden_size = 400
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.input_size = 400
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.num_layers = 1
2019-11-14 04:03:32,849 - INFO - allennlp.common.params - model.encoder.batch_first = True
2019-11-14 04:03:32,877 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.seq2vec_encoders.seq2vec_encoder.Seq2VecEncoder'> from params {'averaged': True, 'embedding_dim': 200, 'type': 'boe'} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,878 - INFO - allennlp.common.params - model.entity_encoder.type = boe
2019-11-14 04:03:32,878 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.seq2vec_encoders.boe_encoder.BagOfEmbeddingsEncoder'> from params {'averaged': True, 'embedding_dim': 200} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,878 - INFO - allennlp.common.params - model.entity_encoder.embedding_dim = 200
2019-11-14 04:03:32,878 - INFO - allennlp.common.params - model.entity_encoder.averaged = True
2019-11-14 04:03:32,878 - INFO - allennlp.common.from_params - instantiating class allennlp.state_machines.beam_search.BeamSearch from params {'beam_size': 10} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.decoder_beam_search.beam_size = 10
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.decoder_beam_search.per_node_beam_size = None
2019-11-14 04:03:32,879 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.text_field_embedders.text_field_embedder.TextFieldEmbedder'> from params {'tokens': {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'}} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.question_embedder.type = basic
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.question_embedder.embedder_to_indexer_map = None
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.question_embedder.allow_unmatched_keys = False
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.question_embedder.token_embedders = None
2019-11-14 04:03:32,879 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.token_embedders.token_embedder.TokenEmbedder'> from params {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.question_embedder.tokens.type = embedding
2019-11-14 04:03:32,879 - INFO - allennlp.common.params - model.question_embedder.tokens.num_embeddings = None
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.vocab_namespace = tokens
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.embedding_dim = 200
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.pretrained_file = None
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.projection_dim = None
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.trainable = True
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.padding_index = None
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.max_norm = None
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.norm_type = 2.0
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.scale_grad_by_freq = False
2019-11-14 04:03:32,880 - INFO - allennlp.common.params - model.question_embedder.tokens.sparse = False
2019-11-14 04:03:32,889 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.attention.attention.Attention'> from params {'type': 'dot_product'} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,889 - INFO - allennlp.common.params - model.input_attention.type = dot_product
2019-11-14 04:03:32,889 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.attention.dot_product_attention.DotProductAttention'> from params {} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,889 - INFO - allennlp.common.params - model.input_attention.normalize = True
2019-11-14 04:03:32,889 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.attention.attention.Attention'> from params {'type': 'dot_product'} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.past_attention.type = dot_product
2019-11-14 04:03:32,890 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.attention.dot_product_attention.DotProductAttention'> from params {} and extras {'vocab': Vocabulary with namespaces:  rule_labels, Size: 112 || tokens, Size: 3354 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.past_attention.normalize = True
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.max_decoding_steps = 100
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.action_embedding_dim = 200
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.gnn = True
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.graph_loss_lambda = 0.5
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.decoder_use_graph_entities = True
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.decoder_self_attend = True
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.gnn_timesteps = 3
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.pruning_gnn_timesteps = 3
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.parse_sql_on_decoding = True
2019-11-14 04:03:32,890 - INFO - allennlp.common.params - model.add_action_bias = True
2019-11-14 04:03:32,891 - INFO - allennlp.common.params - model.use_neighbor_similarity_for_linking = True
2019-11-14 04:03:32,891 - INFO - allennlp.common.params - model.dataset_path = dataset/
2019-11-14 04:03:32,891 - INFO - allennlp.common.params - model.training_beam_size = 1
2019-11-14 04:03:32,891 - INFO - allennlp.common.params - model.decoder_num_layers = 1
2019-11-14 04:03:32,891 - INFO - allennlp.common.params - model.dropout = 0.5
2019-11-14 04:03:32,891 - INFO - allennlp.common.params - model.rule_namespace = rule_labels
2019-11-14 04:03:33,005 - INFO - root - Loading a model trained before embedding extension was implemented; pass an explicit vocab namespace if you want to extend the vocabulary.
2019-11-14 04:03:33,005 - INFO - root - Loading a model trained before embedding extension was implemented; pass an explicit vocab namespace if you want to extend the vocabulary.
2019-11-14 04:03:33,005 - INFO - root - Loading a model trained before embedding extension was implemented; pass an explicit vocab namespace if you want to extend the vocabulary.
2019-11-14 04:03:33,005 - INFO - root - Loading a model trained before embedding extension was implemented; pass an explicit vocab namespace if you want to extend the vocabulary.
2019-11-14 04:03:38,297 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.data.dataset_readers.dataset_reader.DatasetReader'> from params {'tables_file': 'dataset/tables.json', 'dataset_path': 'dataset/database', 'lazy': False, 'type': 'spider', 'loading_limit': -1, 'keep_if_unparsable': True} and extras {}
2019-11-14 04:03:38,298 - INFO - allennlp.common.params - dataset_reader.type = spider
2019-11-14 04:03:38,298 - INFO - allennlp.common.from_params - instantiating class <class 'dataset_readers.spider.SpiderDatasetReader'> from params {'tables_file': 'dataset/tables.json', 'dataset_path': 'dataset/database', 'lazy': False, 'loading_limit': -1, 'keep_if_unparsable': True} and extras {}
2019-11-14 04:03:38,298 - INFO - allennlp.common.params - dataset_reader.lazy = False
2019-11-14 04:03:38,298 - INFO - allennlp.common.params - dataset_reader.question_token_indexers = <allennlp.common.params.Params object at 0x7f35e9f8f278>
2019-11-14 04:03:38,298 - INFO - allennlp.common.params - dataset_reader.keep_if_unparsable = True
2019-11-14 04:03:38,299 - INFO - allennlp.common.params - dataset_reader.tables_file = dataset/tables.json
2019-11-14 04:03:38,299 - INFO - allennlp.common.params - dataset_reader.dataset_path = dataset/database
2019-11-14 04:03:38,299 - INFO - allennlp.common.params - dataset_reader.load_cache = True
2019-11-14 04:03:38,299 - INFO - allennlp.common.params - dataset_reader.save_cache = True
2019-11-14 04:03:38,299 - INFO - allennlp.common.params - dataset_reader.loading_limit = -1
2019-11-14 04:03:38,690 - INFO - allennlp.models.archival - loading archive file experiments/experiment_rerank
2019-11-14 04:03:38,702 - INFO - allennlp.common.params - type = default
2019-11-14 04:03:38,702 - INFO - allennlp.data.vocabulary - Loading token dictionary from experiments/experiment_rerank/vocabulary.
2019-11-14 04:03:38,705 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.models.model.Model'> from params {'action_embedding_dim': 200, 'attention': {'type': 'dot_product'}, 'dropout': 0.5, 'encoder': {'bidirectional': True, 'hidden_size': 200, 'input_size': 400, 'num_layers': 1, 'type': 'lstm'}, 'entity_encoder': {'averaged': True, 'embedding_dim': 200, 'type': 'boe'}, 'gnn_timesteps': 2, 'question_embedder': {'tokens': {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'}}, 'type': 'spider_reranker'} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,705 - INFO - allennlp.common.params - model.type = spider_reranker
2019-11-14 04:03:38,706 - INFO - allennlp.common.from_params - instantiating class <class 'models.semantic_parsing.spider_reranker.SpiderReranker'> from params {'action_embedding_dim': 200, 'attention': {'type': 'dot_product'}, 'dropout': 0.5, 'encoder': {'bidirectional': True, 'hidden_size': 200, 'input_size': 400, 'num_layers': 1, 'type': 'lstm'}, 'entity_encoder': {'averaged': True, 'embedding_dim': 200, 'type': 'boe'}, 'gnn_timesteps': 2, 'question_embedder': {'tokens': {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'}}} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,706 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.seq2seq_encoders.seq2seq_encoder.Seq2SeqEncoder'> from params {'bidirectional': True, 'hidden_size': 200, 'input_size': 400, 'num_layers': 1, 'type': 'lstm'} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,706 - INFO - allennlp.common.params - model.encoder.type = lstm
2019-11-14 04:03:38,706 - INFO - allennlp.common.params - model.encoder.batch_first = True
2019-11-14 04:03:38,706 - INFO - allennlp.common.params - model.encoder.stateful = False
2019-11-14 04:03:38,706 - INFO - allennlp.common.params - Converting Params object to dict; logging of default values will not occur when dictionary parameters are used subsequently.
2019-11-14 04:03:38,706 - INFO - allennlp.common.params - CURRENTLY DEFINED PARAMETERS:
2019-11-14 04:03:38,706 - INFO - allennlp.common.params - model.encoder.bidirectional = True
2019-11-14 04:03:38,707 - INFO - allennlp.common.params - model.encoder.hidden_size = 200
2019-11-14 04:03:38,707 - INFO - allennlp.common.params - model.encoder.input_size = 400
2019-11-14 04:03:38,707 - INFO - allennlp.common.params - model.encoder.num_layers = 1
2019-11-14 04:03:38,707 - INFO - allennlp.common.params - model.encoder.batch_first = True
2019-11-14 04:03:38,714 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.seq2vec_encoders.seq2vec_encoder.Seq2VecEncoder'> from params {'averaged': True, 'embedding_dim': 200, 'type': 'boe'} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,715 - INFO - allennlp.common.params - model.entity_encoder.type = boe
2019-11-14 04:03:38,715 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.seq2vec_encoders.boe_encoder.BagOfEmbeddingsEncoder'> from params {'averaged': True, 'embedding_dim': 200} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,715 - INFO - allennlp.common.params - model.entity_encoder.embedding_dim = 200
2019-11-14 04:03:38,715 - INFO - allennlp.common.params - model.entity_encoder.averaged = True
2019-11-14 04:03:38,715 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.text_field_embedders.text_field_embedder.TextFieldEmbedder'> from params {'tokens': {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'}} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,715 - INFO - allennlp.common.params - model.question_embedder.type = basic
2019-11-14 04:03:38,715 - INFO - allennlp.common.params - model.question_embedder.embedder_to_indexer_map = None
2019-11-14 04:03:38,715 - INFO - allennlp.common.params - model.question_embedder.allow_unmatched_keys = False
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.token_embedders = None
2019-11-14 04:03:38,716 - INFO - allennlp.common.from_params - instantiating class <class 'allennlp.modules.token_embedders.token_embedder.TokenEmbedder'> from params {'embedding_dim': 200, 'trainable': True, 'type': 'embedding'} and extras {'vocab': Vocabulary with namespaces:  tokens, Size: 3301 || Non Padded Namespaces: {'*labels', '*tags'}}
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.type = embedding
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.num_embeddings = None
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.vocab_namespace = tokens
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.embedding_dim = 200
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.pretrained_file = None
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.projection_dim = None
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.trainable = True
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.padding_index = None
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.max_norm = None
2019-11-14 04:03:38,716 - INFO - allennlp.common.params - model.question_embedder.tokens.norm_type = 2.0

In [0]:
def sem2sql(data):
  with open('output.sql', 'r') as file:
  """
    create query object (nl, table schema)
    create subprocess from data and allennlp
     command
  """
  sql_string = 'Coming soon, the greatest sqlizer'
  return sql_string

In [11]:
# ngrok
%cd /content
!cp /content/drive/My\ Drive/assets/ngrok/ngrok-stable-linux-amd64.zip /content
!unzip /content/ngrok-stable-linux-amd64.zip
# ngrok secret a bit hacky, first setup with temp token
!/content/ngrok authtoken temp
# now replace token
!cp /content/drive/My\ Drive/assets/ngrok/ngrok.yml /root/.ngrok2
%cd /content/spider-schema-gnn-global/

/content
Archive:  /content/ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml
/content/spider-schema-gnn-global

In [12]:
#flask
!pip install flask
#flask-ngrok
!pip install flask-ngrok

Requirement already satisfied: flask in /usr/local/lib/python3.6/dist-packages (1.0.2)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Werkzeug>=0.14 in /usr/local/lib/python3.6/dist-packages (from flask) (0.16.0)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from flask) (7.0)
Requirement already satisfied: Jinja2>=2.10 in /usr/local/lib/python3.6/dist-packages (from flask) (2.10.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10->flask) (1.1.1)
Requirement already satisfied: flask-ngrok in /usr/local/lib/python3.6/dist-packages (0.0.25)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (1.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (2.21.0)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (7.0)
Requirement already satisfied: Werkzeug>=0.14 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (0.16.0)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: Jinja2>=2.10 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (2.10.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10->Flask>=0.8->flask-ngrok) (1.1.1)

In [0]:
from flask import Flask, request, jsonify
from flask_ngrok import run_with_ngrok

app = Flask(__name__)
run_with_ngrok(app)   #starts ngrok when the app is run

@app.route("/")
def home():
    return "<h1> Running Flask on Google Colab, isn't this cool! </h1>"
  

@app.route('/query', methods=['POST']) 
def query():
    if request.method == "POST":
        features = request.form
    sql = sem2sql(features)
    return jsonify(sql), 200

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
Exception in thread Thread-7:
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 1182, in run
    self.function(*self.args, **self.kwargs)
  File "/usr/local/lib/python3.6/dist-packages/flask_ngrok.py", line 70, in start_ngrok
    ngrok_address = _run_ngrok()
  File "/usr/local/lib/python3.6/dist-packages/flask_ngrok.py", line 38, in _run_ngrok
    tunnel_url = j['tunnels'][0]['public_url']  # Do the parsing of the get
IndexError: list index out of range